<section class="container grid__1x2">
  <article class="main-feature">
    <h2 class="main-feature__heading">What's different about Manage?</h2>
    <p class="main-feature__description">
      Manage provides all the functionality your team needs, without the
      complexity. Our software is tailor-made for modern digital product teams.
    </p>
  </article>
  <div>
    <article class="feature">
      <a class="btn btn-primary button-small desktop-feature__button" href="#"
        >01</a
      >
      <h3 class="feature__heading">
        <a class="btn btn-primary button-small mobile-feature__button" href="#"
          >01</a
        >
        Tract company-wide progress
      </h3>
      <p class="feature__description">
        See how your day-to-day tasks fit into the wider vision. Go from
        tracking progress at the milestone level all the way done to the
        smallest of details. Never lose sight of the bigger picture again.
      </p>
    </article>

    <article class="feature">
      <a class="btn btn-primary button-small desktop-feature__button" href="#"
        >02</a
      >
      <h3 class="feature__heading">
        <a class="btn btn-primary button-small mobile-feature__button" href="#"
          >02</a
        >
        Advanced built-in reports
      </h3>
      <p class="feature__description">
        Set internal delivery estimates and track progress toward company goals.
        Our customisable dashboard helps you build out the reports you need to
        keep key stakeholders informed.
      </p>
    </article>
    <article class="feature">
      <a class="btn btn-primary button-small desktop-feature__button" href="#"
        >03</a
      >
      <h3 class="feature__heading">
        <a class="btn btn-primary button-small mobile-feature__button" href="#"
          >03</a
        >
        Everything you need in one place
      </h3>
      <p class="feature__description">
        Stop jumping from one service to another to communicate, store files,
        track tasks and share documents. Manage offers an all-in-one team
        productivity solution.
      </p>
    </article>
  </div>
</section>
