<!-- List 1 -->
<ul class="list footer__list">
  <li>Home</li>
  <li>Pricing</li>
  <li>Products</li>
  <li>About Us</li>
</ul>
<!-- List 2 -->
<ul class="list footer__list">
  <li>Careers</li>
  <li>Community</li>
  <li>Privacy Policy</li>
</ul>

<!-- List grid 1 -->

<div class="grid__2x1 footer__social">
  <img class="footer__logo" src="images/logo-white.svg" alt="Footer Logo" />
  <ul class="list footer__social--list">
    <li>
      <img src="images/icon-facebook.svg" alt="Facebook Icon" />
    </li>
    <li>
      <img src="images/icon-youtube.svg" alt="Youtube Icon" />
    </li>
    <li>
      <img src="images/icon-twitter.svg" alt="Twitter logo" />
    </li>
    <li>
      <img src="images/icon-pinterest.svg" alt="Pinterest Logo" />
    </li>
    <li>
      <img src="images/icon-instagram.svg" alt="Instagram logo" />
    </li>
  </ul>
</div>

<!-- List grid 2 -->
<div class="grid__1x2 footer__links">
  <ul class="list footer__list">
    <li>Home</li>
    <li>Pricing</li>
    <li>Products</li>
    <li>About Us</li>
  </ul>
  <ul class="list footer__list">
    <li>Careers</li>
    <li>Community</li>
    <li>Privacy Policy</li>
  </ul>
</div>

<!-- List grid 3 -->
<div class="footer__search">
  <input
    class="footer__search--input"
    type="search"
    placeholder="Updates in your inbox..."
  />
  <a class="footer__search--btn btn btn-primary btn-shadow" href="#">Go</a>
</div>

<!-- Complete Footer -->
<section class="footer">
  <div class="grid__2x1 footer__social">
    <img
      class="footer__social--logo"
      src="images/logo-white.svg"
      alt="Footer Logo"
    />
    <ul class="list footer__social--list">
      <li>
        <img src="images/icon-facebook.svg" alt="Facebook Icon" />
      </li>
      <li>
        <img src="images/icon-youtube.svg" alt="Youtube Icon" />
      </li>
      <li>
        <img src="images/icon-twitter.svg" alt="Twitter logo" />
      </li>
      <li>
        <img src="images/icon-pinterest.svg" alt="Pinterest Logo" />
      </li>
      <li>
        <img src="images/icon-instagram.svg" alt="Instagram logo" />
      </li>
    </ul>
  </div>
  <div class="grid__1x2 footer__links">
    <ul class="list footer__list">
      <li>Home</li>
      <li>Pricing</li>
      <li>Products</li>
      <li>About Us</li>
    </ul>
    <ul class="list footer__list">
      <li>Careers</li>
      <li>Community</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
  <div class="grid__2x1 footer__search">
    <input
      class="footer__search--input"
      type="search"
      placeholder="Updates in your inbox..."
    />
    <a class="btn btn-primary btn-shadow footer__search--btn" href="#">Go</a>
    <p>Copyright 2020. All Rights Reserved</p>
  </div>
  <p>Copyright 2020. All Rights Reserved</p>
</section>
