<nav class="container nav">
  <a class="nav__logo" href="#"
    ><img src="images/logo.svg" alt="A Company Logo"
  /></a>
  <a class="nav__close" href="#"
    ><img src="images/icon-close.svg" alt="A Company Logo"
  /></a>
  <a class="nav__menu visible" href="#"
    ><img src="images/icon-hamburger.svg" alt="A Company Logo"
  /></a>
  <ul class="list nav__list">
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Community</a></li>
  </ul>
  <a class="btn btn-primary btn-shadow" href="#">Get Started</a>
</nav>
